<div class="story">
  <%= check_box_tag 'story[]', [project_id, story.id],
                    (params[:stories] || {}).include?(story.id) %>
  <%= link_to story.name, project_story_url(:project_id => project_id, :id => story.id), :class => 'printrows' %>
</div>
