<% unless @projects.nil? %>
    <% @projects.each do |p| %>
        <div class = "project">
          <div class ="header">
            <%= p.name %>
          </div>
          <div class = "stories">
            <% ProjectData.find_all_stories(p).each do |story| %>
            <div class="story">
              <%= check_box_tag 'story[]', [story.project_id, story.id],
                                (params[:stories] || {}).include?(story.id) %>
              <%= story.name %>
            </div>
            <% end %>
          </div>
        </div>
    <% end %>
<% end %>